# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_DB=raizesdonordeste
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Configurações do pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
